<h1>Add a New Venue:</h1>


<div id="form">
  <form action="/venues" method="post">
    <label for="name">Venue Name:</label>
    <input id="name" name="name" type="text">
     <button type="submit">Add Venue</button>
  </form>
</div>
