<h1 class="featurette-heading">Add a New <span class="text-muted">Venue:</span></h1>
<hr class="featurette-divider">
<div id="form">
  <form action="/venues" method="post">
    <label for="name"><p class="lead">Venue Name:</p></label>
    <input id="name" name="name" type="text">
     <br><br><br><button class="btn btn-lg btn-primary" type="submit">Add Venue</button>
  </form>
</div>
