<h1 class="featurette-heading">All <span class="text-muted">Bands</span></h1>
<hr class="featurette-divider">
<% if @bands.any?() %>
  <% @bands.each do |band| %>
    <ul>
      <li>
        <a href="/bands/<%= band.id() %>"><p class="lead"><%= band.name() %></p></a>
      </li>
    </ul>
  <% end %>
<% else %>
  <p class="lead">It looks like there <span class="text-muted"><em>aren't any bands in the database</em></span>! Try <a href="/add_band">adding a new band</a>.</p>
<% end %>
<br><br>
<a class="btn btn-md btn-primary" href="/add_band">Add Band</a>
