<style>
  h1 {text-align: center;}
</style>
<h1><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
<hr class="featurette-divider">
<h3 class="featurette-heading">Uh-Oh, looks like there was an error with your submission:</h3><br><br>
<% if @band != nil %>
  <ul>
    <% @band.errors().full_messages().each() do |message| %>
      <li><p class="lead"><%= message %></p></li>
    <% end %>
  </ul>
<% elsif @venue != nil %>
  <% @venue.errors().full_messages().each() do |message| %>
    <li><p class="lead"><%= message %></p></li>
  <% end %>
<% end %>
<br><br>

<a class="btn btn-lg btn-primary" href = "/">Return to the main page and try again!</a>
