<h1 class="featurette-heading">The <span class="text-muted">Band</span> Tracker</h1><br>
<p class="featurette-subheading">Completed as part of the <span class="text-muted"><a href="https://www.epicodus.com/">Epicodus</a></span> Spring 2015 Ruby Course's Active Record database curriculum.</p>
<br><br>
<p class="lead">
  <em>Band Tracker</em> is a basic Ruby and ActiveRecord application that allows users to enter bands and venues alike, tracking which bands have played at which venues, and vis versa. Band Tracker was completed as an exercise in integrating ActiveRecord databasing into Ruby and Sinatra applications.</p>
