<h1 class="featurette-heading">Keeping <span class="text-muted">Tabs</span></h1><br>
<p class="featurette-subheading">Completed by <a href="https://github.com/courtneyphillips">Courtney Phillips</a> as part of the <span class="text-muted"><a href="https://www.epicodus.com/">Epicodus</a></span> Spring 2015 Ruby Course's Active Record database curriculum.</p>
<br><br>
<p class="lead">
  <em>Keeping Tabs</em> is a basic <span class="text-muted">Ruby</span> and <span class="text-muted">ActiveRecord</span> application that allows users to enter bands and venues alike, tracking which bands have played at which venues, and vis versa. Band Tracker was crafted as an exercise and assessment in integrating <span class="text-muted">ActiveRecord</span> databasing into <span class="text-muted">Ruby</span> and <span class="text-muted">Sinatra</span> applications.</p>
  <br>

<a class="btn btn-lg btn-primary" href = "/add_venue">Get Started <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
