<h1 class="featurette-heading">The <span class="text-muted">Band</span> Tracker</h1>
<hr class="featurette-divider">
<p class="featurette-subheading">Completed as part of the <span class="text-muted">Epicodus</span> Spring 2015 Ruby Course's Active Record database curriculum.</p>

<p class="lead">
