<!DOCTYPE html>
<html>
  <head>
    <title>Band Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-header">
      	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      	      <span class="icon-bar"></span>
      	      <span class="icon-bar"></span>
      	      <span class="icon-bar"></span>
      	    </a>
              <a class="navbar-brand" href="/">Keeping Tabs</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/bands">View All Bands</a></li>
                <li><a href="/add_venue">Add New Venue</a></li>
                <li><a href="/add_band">Add New Band</a></li>
                <li><a href="https://github.com/courtneyphillips/band-tracker.git">View On Github</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/img/testphoto.jpeg" style="width:100%" class="img-responsive">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="featurette-heading"><strong>Keeping <span class="text-muted">Tabs</span></strong></h1>
              <h1 class="featurette-subheading"><em>Where have your favorite bands jammed?</h1></em>
              
              <p></p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container marketing">
      <hr class="featurette-divider">
        <p class="lead">
        <%= yield %></p>
      <hr class="featurette-divider">
        <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>This Bootstrap layout is compliments of Bootply · <a href="http://www.bootply.com/62603">Edit on Bootply.com</a></p>
      </footer>
    </div>
  </body>
</html>
